{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
</head>
<body class="w3-theme-dark">
    <div class="w3-container w3-padding w3-center">
        <h1>sshbrowser login demo - page {{.Page}}</h1>
        <h2>Boring places to visit</h2>
            {{range .Links}}
                <p><a href="/page/{{.}}">Page {{.}}</a></p>
            {{end}}
        <h2>slightly less boring places to visit</h2>
            <p><a href="/page/ip">what is my ip</a></p>
            <p><a href="https://github.com/mattkasun/sshbrowser">this repository on github</a></p>
            <p><a href="https://nusak.ca">author's web page</a></p>
    </div>
    <footer class="w3-center">
        <p></p><a href="/logout">Logout</a></p>
        <a href="https://www.buymeacoffee.com/mkasun" target="_blank"><img src="/bmc-button.svg" alt="Buy Me A Coffee" 
            style="height: 60px !important;width: 217px !important;" ></a>
    </footer>
    </footer>
</body>
</html>
{{end}}